@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <style>
        body {
            cursor: url('../images/prj.ico'),auto
        }
    </style>
    <div class="container">
        <!-- 內容區 -->
        <section>
            <!-- 第一列 -->
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="../images/1.png" width="160" height="170">
                    <h3>簡介</h3>
                    <p>介紹你自己吧~或是認識其他人吧~</p>
                    <p><a class="btn btn-default" href="#" role="button" onclick="return confirm('請先登入');">詳細資料&raquo;</a></p>
                </div>

                <div class="col-md-4">
                    <img src="../images/2.png" width="160" height="170">
                    <h3>行程區</h3>
                    <p>今天也是很忙的一天，讓大家知道你哪天到底有空吧</p>
                    <p><a class="btn btn-default" href="#" role="button" onclick="return confirm('請先登入');">詳細資料&raquo;</a></p>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <img src="../images/4.png" width="160" height="170">
                        <h3>收購</h3>
                        <p>對不起了錢錢，但我真的需要那些酷酷的東西</p>
                        <p><a class="btn btn-default" href="#" role="button" onclick="return confirm('請先登入');">詳細資料&raquo;</a></p>
                    </div>
                </div>

                <!-- 第二列 -->

                <div class="col-md-4">
                    <img src="../images/5.jpg" width="160" height="170">
                    <h3>推劇</h3>
                    <p>動漫、韓劇、電影...來看看最近夯啥</p>
                    <p><a class="btn btn-default" href="#" role="button" onclick="return confirm('請先登入');">詳細資料&raquo;</a></p>
                </div>

                <div class="col-md-4">
                    <img src="../images/6.png" width="200" height="170">
                    <h3>推推明星</h3>
                    <p>歌手、明星、YouTuber...來分享你的喜好吧</p>
                    <p><a class="btn btn-default" href="#" role="button" onclick="return confirm('請先登入');">詳細資料&raquo;</a></p>
                </div>

                <div class="col-md-4">
                    <img src="../images/3.png" width="200" height="170">
                    <h3>網站介紹</h3>
                    <p>這網站到底在幹嘛呢?</p>
                    <p><a class="btn btn-default" href="#" role="button" onclick="return confirm('請先登入');">詳細資料&raquo;</a></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

