
@{
    ViewBag.Title = "Tell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>網站規劃</title>
    <link rel="stylesheet" href="~/Content/002css.css" type="text/css">
</head>
<body>
    <div class="container">
        <header>
            <div class="primary_header">
                <h1 class="title">網站規劃概念、內容</h1>
            </div>
        </header>
        <section>
            <article class="left_article">
                <h3>網站主要內容、製作概念</h3>
                <p>提供一個大家可以相互分享自己所喜好之事和需要的小物品亦或是家中不需要的物品給其他會員知道，相互幫助。</p>
                <p>整個版面希望是以輕鬆簡潔的方式去呈現，讓每位會員都能輕鬆操作，簡單上手，提供的資料敘述也有限制和分色以利版面維持容易觀賞的樣式</p>
            </article>
            <aside class="right_article"><img src="../images/7.png" alt="" width="400" height="200" class="placeholder"> </aside>
        </section>
        <div class="row">
            <div class="columns">
                <p class="thumbnail_align"> <img src="../images/001.png" alt="" width="200" height="200"> </p>
                <h4>個人簡介</h4>
                <p>配合其他的功能，讓他人了解此會員的詳細資訊<small>想要交朋友也行喔</small></p>
            </div>
            <div class="columns">
                <p class="thumbnail_align"> <img src="../images/002.png" alt="" width="200" height="200"> </p>
                <h4>行程區</h4>
                <p>想要約別人卻一直抓不到對方的時間，行程區可以讓每位會員都知道其他會員的時間，為了混亂，所以每位會員只能填寫一次，等行程結束才能再刪除並且增加其他行程</p>
            </div>
            <div class="columns">
                <p class="thumbnail_align"> <img src="../images/003.png" alt="" width="200" height="200"> </p>
                <h4>收購</h4>
                <p>給會員一個想要買但是不一定要購買新品並且告知其他會員有人對於物品的需求，更方便雙方買賣</p>
            </div>
            <div class="columns">
                <p class="thumbnail_align"> <img src="../images/004.png" alt="" width="200" height="200"> </p>
                <h4>推劇/推推明星</h4>
                <p>讓會員可以推薦自己喜歡的影劇/明星給提他人一起分享快樂，再推薦明星區還提供分類查找更加方便</p>
            </div>
        </div>
    </div>
    <footer>
        <div style="background-color:#C7FF91;text-align:center;line-height:50px;"><strong>1091613 林芸晨</strong><small></small></div>
    </footer>
</body>
</html>

